<div class="header">
  <div class="welcome">
    <p>Welcome to...</p>
  </div>
  <h1>awesome rovers</h1>
  <div class="long">
    <p>
      The world of rovers is as diverse as it is inspiring. These remarkable
      machines showcase the power of space exploration and research by
      performing complex, specialized tasks.
    </p>
  </div>
  <div class="long">
    <p>
      On this page, you'll find not only advanced rovers from major space
      agencies but also creative projects from students and enthusiasts. While
      not always perfect, these projects demonstrate that building your own
      rover is achievable for anyone and limited only by your creativity!
    </p>
  </div>
  {% include nav.html %}
  <hr />
</div>
