<div class="header">
  <div class="welcome">
    <p>Welcome to...</p>
  </div>
  <h1>awesome rovers</h1>
  <div class="short">
    <p>Your ultimate guide to rovers from across the world and beyond!</p>
  </div>
  <div class="long">
    <p>
      From NASA's legendary explorers to student-built machines, DIY projects,
      and educational marvels. Dive in, explore, and uncover the incredible
      innovation driving our exploration of new frontiers!
    </p>
  </div>
  {% include nav.html %}
  <hr />
</div>
