<div
  class="post"
  post-title="{{ post.title }}"
  post-categories="{{ post.categories | join: ',' }}"
>
  <!-- post title -->
  <a id="{{ post.title }}" href="{{ site.url }}/#{{ post.title }}"
    ><h2>{{ post.title }}</h2></a
  >

  <!-- categories -->
  <div class="tags">
    {% for cat in post.categories %}
    <a href="{{ site.url }}?categories={{ cat }}"><span>#{{ cat }}</span></a>
    {% endfor %}
  </div>

  <!-- table with detailed info -->
  <div class="info">
    {% for param in post.rover %}
    <div>{{ param[0] }}:</div>
    {% if param[1].link %}
    <div><a href="{{ param[1].link }}">{{ param[1].text }}</a></div>
    {% else %}
    <div>{{ param[1].text }}</div>
    {% endif %} {% endfor %}
  </div>

  <!-- weather render full post -->
  {% if include.render_full %}
  <!-- render full post -->
  <div class="content">{{ post.content }}</div>
  {% else %}
  <!-- render only the summary -->
  <div class="content">
    <p>{{ post.excerpt }}</p>
  </div>
  <!-- optional readme button, if more content exists -->
  {% if post.read_more %}
  <div class="read-more">
    <a href="{{ site.url}}{{ post.url }}">➡️ Read more...</a>
  </div>
  {% endif %} {% endif %}
</div>
