.post {
  margin: 0px auto 50px auto;
  text-align: justify;
}

.post .info {
  margin-top: 20px;
  color: grey;
  font-size: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  line-height: 1.5em;
}

.post .info div:nth-child(even) {
  color: white;
}

.post .info div:nth-child(odd) {
  text-transform: capitalize;
}

.post .content {
  margin-top: 20px;
}

.post .content > * {
  margin: 15px 0;
}

.tags span {
  font-size: 16px;
  color: grey;
}
